version: 2.1
parameters:
    repo:
        type: string
        default: "rsksmart/rskj.git"
    version:
        type: string
        default: ""
    branch:
        type: string
        default: "master"
    slack_channel:
        type: string
        default: "integration-tests"
orbs:
  slack: circleci/slack@4.1
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: cimg/openjdk:8.0.292-node

    working_directory: ~/tmp

    steps:
      - checkout
      - run:
          name: Avoid hosts unknown for github
          command: mkdir -p ~/.ssh/ && echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
      - run:
          name: Clone and Build RSKj
          command: |
                    GIT_SSH_COMMAND='ssh -i ~/.ssh/id_rsa_fingerprint'
                    git clone -b << pipeline.parameters.branch >> git@github.com:<< pipeline.parameters.repo >> ~/rsksmart/rskj
                    cd ~/rsksmart/rskj/
                    ./configure.sh
                    ./gradlew clean build -x test
                    cd ~/rsksmart/rskj/rskj-core/build/libs/
                    f=`ls *-all.jar`
                    version=`echo $f | cut -c 11-15`
                    echo "export VERSION_FOR_SLACK='${version}'" >> $BASH_ENV
      - restore_cache:
          keys:
                #when lock file changes, use increasingly general patterns to restore cache
                - node-v1-{{ .Branch }}-{{ checksum "package-lock.json" }}
                - node-v1-{{ .Branch }}-
                - node-v1-
      - run:
          name: Install Tests
          command: npm install

      - save_cache:
          paths:
                - ~/tmp/node_modules  # location depends on npm version
          key: node-v1-{{ .Branch }}-{{ checksum "package-lock.json" }}
  
      - run:
          name: Start RskJ & Run Tests
          command: |
                    java -cp ~/rsksmart/rskj/rskj-core/build/libs/rskj-core-*-all.jar co.rsk.Start --regtest nohup &               
                    until nc -z 127.0.0.1 4444
                    do
                      echo "Waiting for RskJ..."
                      sleep 1
                    done
                    npm test
      - slack/notify:
          channel: << pipeline.parameters.slack_channel >>
          custom: |
            {
                "blocks": [
                    {
                        "type": "header",
                        "text": {
                            "type": "plain_text",
                            "text": "RskJ Web3js Tests Passed :white_check_mark:",
                            "emoji": true
                        }
                    },
                    {
                        "type": "section",
                        "fields": [
                            {
                                "type": "mrkdwn",
                                "text": "*RSKj Repository*: << pipeline.parameters.repo >>"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*RSKj Branch*: << pipeline.parameters.branch >>"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*RSKj Version*: ${VERSION_FOR_SLACK}"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*Tests Branch*: ${CIRCLE_BRANCH}"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*Requester*: ${CIRCLE_USERNAME}"
                            }
                        ]
                    },
                    {
                        "type": "actions",
                        "elements": [
                            {
                                "type": "button",
                                "text": {
                                    "type": "plain_text",
                                    "text": "View Job"
                                },
                                "url": "${CIRCLE_BUILD_URL}"
                            }
                        ]
                    }
                ]
                }
          event: pass
      - slack/notify:
          channel: << pipeline.parameters.slack_channel >>
          custom: |
            {
                "blocks": [
                    {
                        "type": "header",
                        "text": {
                            "type": "plain_text",
                            "text": "RskJ Web3js Tests Failed :red_circle:",
                            "emoji": true
                        }
                    },
                    {
                        "type": "section",
                        "fields": [
                            {
                                "type": "mrkdwn",
                                "text": "*RSKj Repository*: << pipeline.parameters.repo >>"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*RSKj Branch*: << pipeline.parameters.branch >>"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*RSKj Version*: ${VERSION_FOR_SLACK}"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*Tests Branch*: ${CIRCLE_BRANCH}"
                            },
                            {
                                "type": "mrkdwn",
                                "text": "*Requester*: ${CIRCLE_USERNAME}"
                            }
                        ]
                    },
                    {
                        "type": "actions",
                        "elements": [
                            {
                                "type": "button",
                                "text": {
                                    "type": "plain_text",
                                    "text": "View Job"
                                },
                                "url": "${CIRCLE_BUILD_URL}"
                            }
                        ]
                    }
                ]
                }
          event: fail
      - store_test_results:
          path: ~/tmp/Results
      
      - store_artifacts:
          path: ~/tmp/Results/mocha
        
workflows:
    commit:
        jobs:
            - build
    daily:
        triggers:
            - schedule:
                cron: "21 01 * * *"
                filters:
                    branches:
                        only:
                            - master
        jobs:
            - build
